head
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css' integrity='sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4' crossorigin='anonymous')
  link(href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN' crossorigin='anonymous')
  link(href='styles.css' rel='stylesheet')
  script(src='https://code.jquery.com/jquery-3.4.1.min.js' integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=' crossorigin='anonymous' type='text/javascript')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js' type='text/javascript')
  script(src='multidatespicker.js' type='text/javascript')
div(style='width: 22%;margin:20px;')
  input#selectedValues.date-values(type='text' readonly='')
  #parent.container
    // style="display:none" has been removed
    .row.header-row
      .col-xs.previous
        a#previous(href='#' onclick='previous()')
          i.fa.fa-arrow-left(aria-hidden='true')
      #monthAndYear.card-header.month-selected.col-sm
      .col-sm
        select#month.form-control.col-xs-6(name='month' onchange='change()')
      .col-sm
        select#year.form-control.col-xs-6(name='year' onchange='change()')
      .col-xs.next
        a#next(href='#' onclick='next()')
          i.fa.fa-arrow-right(aria-hidden='true')
    table#calendar
      thead
        tr
          th S
          th M
          th T
          th W
          th T
          th F
          th S
      tbody#calendarBody
